.navbar{
  background:white;
  box-shadow:var(--shadow);
}

.navbar-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:75px;
}

.logo{

  font-size:28px;
  font-weight:700;
  color:var(--primary);
}

.nav-links{
  display:flex;
  align-items:center;
  gap:25px;
  list-style:none;
}

.nav-links a{
  font-weight:500;
  transition:.3s;
}

.nav-links a:hover{
  color:var(--primary);
}

.nav-links a.active{
  color:var(--primary);
}
